// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body {
  font-family:'Open Sans', sans-serif!important;

  h1, h2, h3, h4, h5 {
    font-family: 'Arimo', sans-serif!important;
  }
  .wrapper {
    padding-bottom: 0px;
  }

  background-color: #f8faff;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      
      .view {
            height: 720px;
        }

              .view-two {
            height: 380px;
        }
        
        .view-three {
          height: 200px;
        }
        .full-bg-img {
          height: 100%;
        }

        /* Navigation*/

        .navbar {
            background-color: transparent;
            font-family: 'Arimo', sans-serif;
        }
        

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: 0;
        }

        @media only screen and (max-width: 767px) {
            .navbar {
                background-color: #1C2331;
            }

            .display-1 {
              font-size: 52px;
            }
            .display-3 {
                font-size: 2rem;
                margin-top: 6rem;
            }
            h3 {
                font-size: 1rem;
            }
        }

        @media only screen and (max-width: 667px) {
            .display-3 {
                font-size: 3rem;
            }

        }

        /* Carousel*/
        

 .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37,37,37, .5);
  opacity: 0.85;

    }


@media (max-width: 62em) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
    text-align: center;
  }
  .navbar-nav .nav-item {
    float: none;
  }
  .navbar-brand {
    float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
    display: block;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .dropdown-menu {
    position: relative;
    float: none;
  }
}

#beforeafter {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
/* Plugin CSS */
.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-vertical .twentytwenty-handle:before,
.twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}
.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}
.twentytwenty-vertical .twentytwenty-handle:before,
.twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}
.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.twentytwenty-before-label,
.twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.twentytwenty-horizontal .twentytwenty-before-label:before,
.twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}
.twentytwenty-vertical .twentytwenty-before-label:before,
.twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow,
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}
.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}
.twentytwenty-container.active .twentytwenty-overlay,
.twentytwenty-container.active:hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0);
}
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label,
.twentytwenty-container.active:hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active:hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}
.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.twentytwenty-before-label {
  opacity: 0;
}
.twentytwenty-before-label:before {
  content: "Before";
}
.twentytwenty-after-label {
  opacity: 0;
}
.twentytwenty-after-label:before {
  content: "After";
}
.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}
.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}
.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}
.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}
.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}
.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}
.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}
.twentytwenty-before {
  z-index: 20;
}
.twentytwenty-after {
  z-index: 10;
}
.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}
.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}
.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}
.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}
.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}
.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px;
}
.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px;
}


/* Carousel and pictures */

.view:not(.hm-zoom) {
    overflow:visible;
}

/* Margin from the top */

.container {
    .row {
        margin-top: 2.5rem;
    }
}

/* Simple blog listing */

.simple-blog-listing {
    .single-post {
        margin-bottom: 5rem;
        &.simple-post-text {
            margin-bottom: 0;
            border-bottom: 1px solid #e0e0e0;
            .post-pictures {
                img {
                    margin-bottom: 1.5rem;
                }
            }
        }
        h5 {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        h2 {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1.2rem;
        }
        .post-data {
            h5 {
                margin-bottom: 2rem;
                font-weight: 400;
                i {
                    padding-left: 1rem;
                }
            }
        }
    }
}

/* Archive */

.archive {
    ul {
        li {
            padding-top: 0.8rem;
            border-top: 1px solid #eceeef;
            &:first-of-type {
                border-top: none;
            }
            padding-bottom: 0.3rem;
        }
    }
}

/* Author widget */

.simple-author-widget {
    .author-photo {
        margin-bottom: 1.8rem;
    }
    .about-author {
        h4 {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        p {
            text-align: justify;
        }
    }
}

/* Simple author page */

.simple-author-page {
    h1 {
        margin-bottom: 2rem;
    }
    p {
        text-align: center;
    }
    .view {
        img {
            margin-top: 2rem;
        }
    }
}

#wrapper-footer {
  padding: 0px;
}

input[type=checkbox], input[type=radio] {
  display: none;
}


  .twentytwenty-container {
    margin: 0 auto;
  }

.twentytwenty-handle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.twentytwenty-horizontal .twentytwenty-handle {
  &:before {
    margin-bottom: 34px;
  }
  &:after {
    margin-top: 34px;
  }
}


.twentytwenty-handle {
  height: 56px;
  width: 40px;
  margin-top: -34px;
}


.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
  position: relative;
  overflow: hidden;
}

/* Make vertical gutters the same as the horizontal ones */
.image-item {
  margin-bottom: 30px;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 30px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 8px);
}

.image-item img {
  display: block;
  width: 100%;
  max-width: none;
  height: 100%;
  object-fit: cover;
}


.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: fade-out(#1c2331, .1);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
          .project-icon {
        text-align: right;
        margin-right: 10px;
      }
    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      .project-category,
      .project-name {
        padding: 0 15px;
      }
      .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover {
    .portfolio-box-caption {
      opacity: .85;
    }
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 768px) {
    .portfolio-box-caption {
      .portfolio-box-caption-content {
        .project-category {
          font-size: 16px;
        }
        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}

.btn-outline-primary {
  &:hover {
    color: white!important;
    background-color: #4285f4;
  }
}
.btn-outline-primary:not([disabled]):not(.disabled).active {
    &:hover {
    color: white!important;
    background-color: #4285f4!important;
  }
}

.display-2 {
  font-size: 62px;
}

.resize {
  height: 300px;
}

.bg-dark {
  background-color: #303030!important;
}

.bg-light {
  background-color: #fcfcfc!important;
}

.text-dark {
  color: #303030!important;
}

.font-light {
  font-weight: lighter;
}

.jarallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-testimonial {
  min-height: 540px;
}


.img-fluid-test {
  height: 200px;
}

.team-image {
  height: 450px;
}

.display-1 {
  font-size: 72px;
}

.display-2 {
  font-size: 50px;
}

.btn-group {
  display: inline-table;
}

#cf7md-form .mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline)::after, #cf7md-form .mdc-multi-select:focus .mdc-list-item:checked, #cf7md-form .mdc-checkbox__background::before, #cf7md-form .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background, #cf7md-form .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background, #cf7md-form .mdc-radio__background::before, #cf7md-form .mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle, #cf7md-form .mdc-button--primary.mdc-button--raised, #cf7md-form .mdc-switch__native-control:checked ~ .mdc-switch__background::before, #cf7md-form .mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob, #cf7md-form .mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob::before {
  background-color: #2196f3!important;
}


@media only screen and (max-width: 767px) {
  .consultation {
    display: none!important;
  }
}


}